/* Variables */
:root {
  --background: #f5f5f5; 
  --navbar: #333; 
  --col: #fff; 
  --text-color: #333; 
  --link-hover-color: #555; 
  --textbox_p--:rgb(180, 180, 180);
  --textwhite--:#ffffff;
  --textblack--:#000000;

}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Body Styles */
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
  background-attachment: fixed;
}

/* Navbar Styles */
.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--navbar);
  color: var(--text-color);
}

.navbar a:hover {
  text-align: center;
  background-color: rgb(129, 129, 129);
}

.navbar > a {
  color: #fff;
  padding: 16px;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navbar p,
.navbar h1 {
  color: #fff;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

/* Main Content Styles */
.main {
  min-height: 100vh;
  margin-bottom: -75px;
  padding: 20px;
  background-color: var(--background);
}

.main > h1 {
  color: #fff;
  text-align: center;
  background-color: var(--navbar);
  border-radius: 20px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
}

/* Grid Styles */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  grid-gap: 10px;
  margin-top: 10px;
}

.row h1 {
  text-align: center;
}

.row-2 {
  grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
  margin-top: 10px;
  display: grid;
  align-items: stretch;
  grid-gap: 10px;
  overflow: auto;
}

.row-2 h1 {
  margin-top: 10px;
  text-align: center;
}

.col-2 {
  padding: 10px;
  justify-content: center;
  border: 1px groove #ccc;
  border-radius: 5px;
  max-width: 100%;
  background-color: var(--col);
}

.col {
  padding: 5px;
  text-align: center;
  background-color: var(--col);
  justify-content: center;
  border-radius: 5px;
  border: 1px groove #adadad;
}

.text-box {
  padding: 10px;
  border: 1px groove rgb(223, 223, 223);
  border-radius: 5px;
  background-color: #dadada;
}

.text-box-col2 {
  padding: 10px;
  text-align: left;
  background-color: var(--col);
  border-radius: 5px;
  background-color: #dadada;
}

.text-box-col2 h3 {
  font-size: 25px;
}

.text-box-col2 ul {
  list-style-type: none;
  padding: 0;
}

.text-box-col2 li {
  margin: 10px;
  padding: 10px;
  color: var(--textblack--);
  background-color: var(--textbox_p--);
  border-radius: 10px;
}

.text-box h3,
.text-box-col2 h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.text-box p,
.text-box-col2 p {
  text-align: left;
  background-color: var(--textbox_p--);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: var(--textblack--);
  font-size: 20px;
}

.col img,
.col-2 img {
  padding: 10px;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 696px;
  object-fit: cover;
}

/* Media Queries for Tablet */
@media screen and (max-width: 768px) {
  .navbar {
    height: 100%;
    background: var(--navbar);
  }

  .navbar a {
    float: left;
  }

  .main {
    margin-left: 0;
  }

  .navbar > h1 {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr;
  }

  .row-2 {
    grid-template-columns: 1fr;
  }

  .col {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .text-box {
    text-align: center;
  }

  .footer {
    padding: 10px;
  }
  .col img,
  .col-2 img {
    max-width: 100%;
    max-height: 450px;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 576px) {
  .navbar {
    display: grid;
    width: 100%;
  }

  .navbar a {
    text-align: center;
    background: var(--navbar);
  }

  .navbar > h1 {
    display: none;
  }

  .main {
    padding: 0;
    margin-left: 0;
  }

  .row,
  .row-2 {
    grid-template-columns: 1fr;
    margin-top: 10px;
    padding: 10px;
  }
  .col img,
  .col-2 img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Footer Styles */
.push {
  height: 75px;
}

.footer {
  height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: var(--navbar);
}

.footer p {
  font-size: 20px;
  margin: 10px;
  color: #fff;
}

/* Form Styles */
.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.form-header {
  text-align: center;
  padding: 20px;
}

.form-header h1 {
  border: 2px solid var(--text-color);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea,
.form-group input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--col);
  color: var(--text-color);
}

.form-group textarea {
  resize: vertical;
}

.form-group select {
  width: 100%;
  background-color: var(--col);
  color: var(--text-color);
}

.form-group input[type="submit"] {
  background-color: #0074cc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group small {
  font-size: 12px;
  color: #888;
}
.error {
  color: red;
  display: block;
  margin-top: 5px;
}